.groupContainer {
    position: relative;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;
}

.centreButton {
    width: 100px !important;
    height: 100px !important;
}

.status {
    position: absolute;
    transform: translate(-50%, -50%);
}

.circleButton {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    color: var(--white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;

    background-color: var(--grey);
    margin: 0px !important;
}

.circleButtonImg {
    width: 48px;
    height: 48px;
}

.circleButton:disabled {
    cursor: not-allowed;
}

.evil {
    background-color: var(--red);
    border: 8px solid var(--red);
}

.evil:hover {
    background-color: #bb4941;
}

.good {
    background-color: var(--green);
    border: 8px solid var(--green);
}

.good:hover {
    background-color: #4e9e51;
}

.undefined {
    cursor: not-allowed;
}

.inactive {
    opacity: 25%;

    &:hover {
        opacity: 50%;
    }
}

.active {
    opacity: 100%;
    animation: warble 3s infinite;
}

.selected {
    opacity: 75%;
}

.dead {
    background-color: var(--grey) !important;
}

.pendingExecution {
    border: 8px solid #1e1e1e !important;
}

.statusCircle {
    background-color: var(--purple);

    &.fake {
        background-color: var(--grey);
    }
}

.statusCircle:hover {
    background-color: var(--purple);

    &.fake {
        background-color: var(--grey);
    }
}

.statusCircleImg {
    width: 32px;
    height: 32px;
}

.profilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #858587;
    cursor: pointer;
}

@keyframes warble {
    0% {
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
    }
}

.intoxicated {
    background-color: var(--purple);
}

@media (max-width: 767px) {
    .profilePicture {
        width: 38px;
        height: 38px;
    }
    .player {
        width: 70px;
        height: 70px;
    }
    .centreButton {
        width: 50px !important;
        height: 50px !important;
    }
    .circleButtonImg {
        width: 32px;
        height: 32px;
    }
    .statusCircleImg {
        width: 24px;
        height: 24px;
    }
}
