.groupContainer {
    position: relative;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;
}

.status {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
}

.circleButton {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    color: var(--white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: var(--grey);
}

.circleButtonImg {
    width: 48px;
    height: 48px;
}

.circleButton:disabled {
    cursor: not-allowed;
}

.evil {
    background-color: var(--red);
    border: 8px solid var(--red);
}

.evil:hover {
    background-color: #bb4941;
}

.good {
    background-color: var(--green);
    border: 8px solid var(--green);
}

.good:hover {
    background-color: #4e9e51;
}

.undefined {
    cursor: not-allowed;
}

.inactive {
    opacity: 25%;

    &:hover {
        opacity: 50%;
    }
}

.selected {
    opacity: 50%;
}

.dead {
    background-color: var(--grey) !important;
}

.pendingExecution {
    border: 8px solid #1e1e1e !important;
}

.statusCircle {
    background-color: var(--purple);

    &.fake {
        background-color: var(--grey);
    }
}

.statusCircle:hover {
    background-color: var(--purple);

    &.fake {
        background-color: var(--grey);
    }
}

.statusCircleImg {
    width: 32px;
    height: 32px;
}

.profilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #858587;
    cursor: pointer;
}
