.group-container {
    position: relative;
    margin: 0 auto;
}

.player {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;
}

.status {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
}

.circle-button {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle-button:disabled {
    cursor: not-allowed;
}

.circle-button.Evil {
    background-color: #f44336;
    border: 8px solid #f44336;
}

.circle-button.Good {
    background-color: #4caf50;
    border: 8px solid #4caf50;
}

.circle-button.undefined {
    cursor: not-allowed;
}

.circle-button.inactive {
    opacity: 10%;
}

.circle-button.inactive:hover {
    opacity: 50%;
}

.circle-button.selected {
    opacity: 50%;
}

.circle-button.dead {
    background-color: #858587 !important;
}

.status-circle {
    background-color: #ff00ff;
}
